MinIO-Cluster/minio/*
starrocks.tar
shared_nothing_arch/volumes/be/volumes/be/data-1
shared_nothing_arch/volumes/be/volumes/be/data-2
shared_nothing_arch/volumes/fe-2/fe-meta
shared_nothing_arch/volumes/fe/fe-meta